@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* COLORS */
  --color-background: #FBF5EF;
  --color-white: #ffffff;
  --color-black: #110C06;

  --color-mint: #82D9BF;
  --color-mint-dark: #5fbfa3;

  --color-orange: #F3BD89;
  --color-orange-dark: #F8A14E;

  --color-grey-light: #eaeaea;
  --color-grey: #bcbcbc;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: var(--color-background);
  color: var(--color-black);
}

html, body {
  height: 100%;
}
